<!--<div *ngFor="let data of items | pairs">-->
  <!--<h3> {{ data[0] }}</h3>-->
  <!--<li *ngFor="let subdata of data[1] | pairs">{{ subdata?.name }}</li>-->
<!--</div>-->
<swiper [config]="config" class="hidden-md-up swiper-mobile">
  <div class="entrants swiper-button-next"></div>
  <div class="entrants swiper-button-prev"></div>
  <div class="swiper-wrapper">

    <div class="swiper-slide heats"  *ngFor="let item of items | pairs">
      <h3><span class="lightHeader"> {{ item[0] }} </span></h3>
      <div class="row" *ngFor="let data of item[1]; let i = index">

        <div class="bottomDesign">
          <div class="col-1 stripped">
            {{ data.position }}
          </div>
          <div class="col-5 details">
            <div class="driversname">{{  data.name_short }}</div>
            <div class="combo">
              <span class="team"><img src="assets/images/manufacturers/{{ data.badge }}" class="" /></span>
              <span class="flag"><img src="assets/images/flags/{{ data.flag }}.png" class="" /></span>
              <!--<span class="timetotal">{{ data.totaltime }}</span>-->

            </div>
          </div>

          <div class="col-6 car_pic">
            <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ data.flag }}&maxwidth=158" onError="this.src='assets/images/cars/car_missing_small.png'" class="img-fluid" />
          </div>
        </div>
      </div>
    </div>

  </div><!--swiper-wrapper-end -->
</swiper>


<swiper [config]="config" class="hidden-sm-down swiper-desktop">
  <div class="swiper-wrapper">

    <div class="swiper-slide"  *ngFor="let item of items | pairs">

      <div class="champs table-responsive">
        <div class="container heatheaders">
          <h3><span class="lightHeader">{{ item[0] }}</span> : Entrants</h3>
        </div>
        <div class="sm-down-cover">
          <table class="table">
            <thead>
            <tr>
              <th>POS</th>
              <th></th>
            </tr>
            </thead>
            <tbody  class="champs-table">
            <tr *ngFor="let data of item[1]">
              <th scope="row">{{ data.position }}</th>
              <td class="nopadding">
                <span class="small-car"><img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ data.car_img }}&maxwidth=100" onError="this.src='assets/images/cars/car_missing_small.png'" /></span>
                <span class="team hidden-sm-down"><img src="assets/images/manufacturers/{{ data.badge }}"  onError="this.src='assets/images/manufacturers/ford.png'" /></span>
                <span class="flag"><img src="assets/images/flags/{{ data.flag }}.png" /></span>
                <span class="drivername">{{  data.name }}</span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

  </div>
  </div>

  <div class="entrants swiper-button-next"></div>
  <div class="entrants swiper-button-prev"></div>
</swiper>