<app-schedule></app-schedule>
<app-rx2-heats></app-rx2-heats>
<app-news-list></app-news-list>
<app-rx2-positions></app-rx2-positions>
<!--<app-rx2-intermediate></app-rx2-intermediate>-->
<app-tweets></app-tweets>
<app-rx2-championships></app-rx2-championships>


