<app-schedule></app-schedule>
<app-erx-heats></app-erx-heats>
<app-news-list></app-news-list>
<app-erx-positions></app-erx-positions>
<app-tweets></app-tweets>
<app-erx-intermediate></app-erx-intermediate>
<app-erx-championships></app-erx-championships>
