<div class="se-desktop hidden-sm-down">

<swiper [config]="config" class="row news sunday-evening">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <h3><span class="lightHeader">Super slow-mo</span></h3>
    <div class="swiper-wrapper">
        <div class="news swiper-slide" *ngFor="let newsitem of news | filterBy: ['title']: 'WEEKEND'">
            <div class="panel news">
                <div class="newsitem video embed-responsive embed-responsive-16by9" *ngIf="newsitem.type == 'youtube'">
                    <iframe width="embed-responsive-item" [src]="baseUrl+newsitem.videourl | youtube" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</swiper>
<swiper [config]="config" class="row news sunday-evening">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <h3><span class="lightHeader">Day 1 highlights</span></h3>
    <div class="swiper-wrapper">
        <div class="news swiper-slide" *ngFor="let newsitem of news | filterBy: ['title']: 'DAY 1'">
            <div class="panel news">
                <div class="newsitem video embed-responsive embed-responsive-16by9" *ngIf="newsitem.type == 'youtube'">
                    <iframe width="embed-responsive-item" [src]="baseUrl+newsitem.videourl | youtube" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</swiper>
<swiper [config]="config" class="row news sunday-evening">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <h3><span class="lightHeader">Action cam</span></h3>
    <div class="swiper-wrapper">
        <div class="news swiper-slide" *ngFor="let newsitem of news | filterBy: ['title']: 'FINAL'">
            <div class="panel news">
                <div class="newsitem video embed-responsive embed-responsive-16by9" *ngIf="newsitem.type == 'youtube'">
                    <iframe width="embed-responsive-item" [src]="baseUrl+newsitem.videourl | youtube" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</swiper>

</div>

<div class="se-mobile hidden-md-up">

<swiper [config]="config" class="row newsmobile sunday-evening">
    <!--<div class="swiper-button-next"></div>-->
    <!--<div class="swiper-button-prev"></div>-->
    <h3><span class="lightHeader">Super slow-mo</span></h3>
    <div class="swiper-wrapper">
        <div class="news swiper-slide" *ngFor="let newsitem of news | filterBy: ['type']: 'youtube'">
            <div class="prerace news">
                <div class="newsitem video embed-responsive embed-responsive-16by9" *ngIf="newsitem.type == 'youtube'">
                    <iframe width="embed-responsive-item" [src]="baseUrl+newsitem.videourl | youtube" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</swiper>
<swiper [config]="config" class="row newsmobile sunday-evening">
    <!--<div class="swiper-button-next"></div>-->
    <!--<div class="swiper-button-prev"></div>-->
    <h3><span class="lightHeader">Day 1 highlights</span></h3>
    <div class="swiper-wrapper">
        <div class="news swiper-slide" *ngFor="let newsitem of news | filterBy: ['type']: 'youtube'">
            <div class="prerace news">
                <div class="newsitem video embed-responsive embed-responsive-16by9" *ngIf="newsitem.type == 'youtube'">
                    <iframe width="embed-responsive-item" [src]="baseUrl+newsitem.videourl | youtube" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</swiper>
<swiper [config]="config" class="row newsmobile sunday-evening">
    <!--<div class="swiper-button-next"></div>-->
    <!--<div class="swiper-button-prev"></div>-->
    <h3><span class="lightHeader">Action cam</span></h3>
    <div class="swiper-wrapper">
        <div class="news swiper-slide" *ngFor="let newsitem of news | filterBy: ['type']: 'youtube'">
            <div class="prerace news">
                <div class="newsitem video embed-responsive embed-responsive-16by9" *ngIf="newsitem.type == 'youtube'">
                    <iframe width="embed-responsive-item" [src]="baseUrl+newsitem.videourl | youtube" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</swiper>

</div>
