<app-tweets></app-tweets>
<app-rx2-heats ></app-rx2-heats>
<!--<app-tweets></app-tweets>-->
<app-rx2-positions></app-rx2-positions>
<app-news-list></app-news-list>
<app-rx2-championships></app-rx2-championships>
<app-rx2-intermediate></app-rx2-intermediate>