<div class="row no-gutters" *ngFor="let video of videoItem">
    <h1>{{ video.title}}</h1>
  <span class="small-img">
    <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ video.image }}&maxwidth=900" class="img-fluid main-image" />
  </span>
  <div [innerHtml]="video.content"></div>
  <!--<div class="pull-left">-->
  <!--</div>-->
  <!--<div class="pull-left">-->
      <!--			<h6>{{news.title}}</h6>
                  {{ news.content}}
              </div>

              <div class="pull-right">
              </div>
      <!--	<a href="" class="list-group-item">
          </a>-->
</div>
<!---->
<!--<div class="row no-gutters" *ngFor="let new of newsItem">-->
<!--    <div class="articleimage">-->
<!--      <img src="/_mediaimages/imagesource.php?image=10538.jpg&amp;maxwidth=900" alt="Driver" border="0">-->
<!--      			<img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ blog.image }}&maxwidth=450" onError="this.src='assets/images/cars_big/car_missing.png'" class="img-fluid main-image" />-->
<!---->
<!--      <div class="articletext">-->
<!--        <h1>{{ new.content}}</h1>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->
