<!--<swiper [config]="config" #usefulSwiper>-->
  <!--<div class="swiper-wrapper" style="margin-top: 20px">-->
    <!--<div class="swiper-slide">Slide 1</div>-->
    <!--<div class="swiper-slide">Slide 2</div>-->
    <!--<div class="swiper-slide">Slide 3</div>-->
    <!--<div class="swiper-slide">Slide 4</div>-->
    <!--<div class="swiper-slide">Slide 5</div>-->
    <!--<div class="swiper-slide">Slide 6</div>-->
    <!--<div class="swiper-slide">Slide 7</div>-->
    <!--<div class="swiper-slide">Slide 8</div>-->
    <!--<div class="swiper-slide">Slide 9</div>-->
    <!--<div class="swiper-slide">Slide 10</div>-->
    <!--<div class="swiper-slide">Slide 11</div>-->
    <!--<div class="swiper-slide">Slide 12</div>-->
    <!--<div class="swiper-slide">Slide 13</div>-->
    <!--<div class="swiper-slide">Slide 14</div>-->
    <!--<div class="swiper-slide">Slide 15</div>-->
    <!--<div class="swiper-slide">Slide 16</div>-->
  <!--</div>-->
  <!--&lt;!&ndash; Add Pagination &ndash;&gt;-->
  <!--<div class="swiper-pagination"></div>-->
  <!--&lt;!&ndash; Add Arrows &ndash;&gt;-->
  <!--<div class="swiper-button-next"></div>-->
  <!--<div class="swiper-button-prev"></div>-->
<!--</swiper>-->
<!--<swiper  [config]="config" #usefulSwiper>-->
<!--&lt;!&ndash;<swiper  [config]="config" #usefulSwiper *ngIf="kolos$">&ndash;&gt;-->
  <!--<div class="event swiper-button-next"></div>-->
  <!--<div class="event swiper-button-prev"></div>-->
  <!--<div class="swiper-pagination"></div>-->
  <!--<div class="swiper-wrapper">-->
    <!--&lt;!&ndash;<div class="swiper-slide" *ngFor="let schedule of schedules; let i = index" [ngClass]="{'bordered': index == i }">&ndash;&gt;-->
    <!--<div class="swiper-slide" *ngFor="let schedule of schedules; let i = index" [ngClass]="{'bordered': index == i }">-->
      <!--<div class="event-details">-->
        <!--<span>{{ schedule.text }}</span>-->
        <!--<span class="time">{{ schedule.theTime | slice:0:5 }}</span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</swiper>-->

