<swiper [config]="config" class="row news hidden-sm-down">
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-wrapper">

    <div class="news swiper-slide" *ngFor="let videositem of videos">
    <div class="panel news">
      <a class="cover" (click)="showNewsItemDetail(videositem)">
				<span class="wrapper">
				  <span class="wrapper-hold">
					<span class="icon">
						<img src="http://www.fiaworldrallycross.com/_img/icon_news.png"></span>
					<span class="image">
			            <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ videositem.image }}&maxwidth=450" onError="this.src='assets/images/cars_big/car_missing.png'" class="img-fluid main-image" />
					</span>
					<span class="texthold ">{{videositem.title}}</span>
				  </span>
				</span>
      </a>
    </div>
  </div>
</div>
</swiper>


<swiper [config]="config" class="row hidden-md-up">
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-wrapper">

    <div class="news swiper-slide" *ngFor="let videositem of videos">
      <div class="panel news">
        <a class="cover" (click)="showNewsItemDetail(videositem)">
                <span class="wrapper">
                  <span class="wrapper-hold">
                    <span class="icon">
                    <img src="http://www.fiaworldrallycross.com/_img/icon_news.png">
                    </span>
                    <span class="image">
                        <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ videositem.image }}&maxwidth=450" class="img-fluid main-image" />
                    </span>
                    <div class="texthold ">{{videositem.title}}</div>
                  </span>
                </span>
        </a>
      </div>
    </div>

  </div><!--swiper-wrapper-end -->
</swiper>
