<router-outlet></router-outlet>

<app-tweets></app-tweets>
<app-erx-heats ></app-erx-heats>
<app-tweets></app-tweets>
<app-erx-positions></app-erx-positions>
<app-news-list></app-news-list>
<app-erx-championships></app-erx-championships>
<app-erx-intermediate></app-erx-intermediate>
