<!--<swiper [config]="config" class="row news hidden-sm-down">-->
  <!--<div class="swiper-button-next"></div>-->
  <!--<div class="swiper-button-prev"></div>-->
    <!--<h3><span class="lightHeader">Friday Shakedown</span></h3>-->
    <!--&lt;!&ndash;<div class="swiper-wrapper" [ngBusy]="{busy: news, message: 'Loading...', backdrop: false, delay: 200, minDuration: 600}">&ndash;&gt;-->
    <!--<div class="swiper-wrapper">-->
    <!--<div class="news swiper-slide" *ngFor="let newsitem of news | filterBy: ['type']: 'youtube'">-->
      <!--<div class="panel news">-->
          <!--<div class="newsitem video embed-responsive embed-responsive-16by9" *ngIf="newsitem.type == 'youtube'">-->
              <!--<iframe width="embed-responsive-item" [src]="baseUrl+newsitem.videourl | youtube" allowfullscreen></iframe>-->
          <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</swiper>-->


<!--<swiper [config]="config" class="row newsmobile hidden-md-up">-->
  <!--&lt;!&ndash;<div class="swiper-button-next"></div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="swiper-button-prev"></div>&ndash;&gt;-->
    <!--<h3><span class="lightHeader">Friday Shakedown</span></h3>-->
    <!--<div class="swiper-wrapper">-->

    <!--<div class="news swiper-slide" *ngFor="let newsitem of news | filterBy: ['type']: 'youtube'">-->
      <!--<div class="prerace news">-->
          <!--<div class="newsitem video embed-responsive embed-responsive-16by9" *ngIf="newsitem.type == 'youtube'">-->
              <!--<iframe width="embed-responsive-item" [src]="baseUrl+newsitem.videourl | youtube" allowfullscreen></iframe>-->
          <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--</div>&lt;!&ndash;swiper-wrapper-end &ndash;&gt;-->
<!--</swiper>-->
