/*Venue Mobile Container*/
.venue-container {
  background: whitesmoke;
  flex-direction: row;
  padding: 0 15px !important;
  position: fixed !important;
  top: 55px;
  width: 100%;
  z-index: 1022;
}
/*Venue Mobile Container End*/

.heats-team img {
    width:40px;
}
.qualifying .sm-down-cover {
    padding: 0 15px;
}
.qualifying h3 {
    padding-top: 0 !important;
}
.schedules .swiper-slide div{
	padding: 10px;
}

.row.schedules {
	/*margin-left: 48px;*/
	/*margin-right: 48px;*/
}
.schedules .swiper-slide.bordered {
    background-color: #fff;
    border-color: #252525;
    border-style: solid;
    color: inherit;
/*    display: table-cell;
    height: auto;*/
/*    border-top-width: 1px;
    border-right-width: 0;
    border-bottom-width: 1px;
    border-left-width: 1px;*/
/*    min-width: 100%;
    width: 100%;*/
/*    padding: 5px 5px;
    font-size: medium;*/
}
.schedules .swiper-slide.bordered:after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    height: 0;
    width: 0;
    pointer-events: none;
    border: solid transparent;
    border-top-color: #252525;
    border-width: 6px;
    margin-left: -6px;
}


.schedules .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    background: #d7dcdc;
    /*padding: 10px;*/
    margin-right: 0 !important;
    border: 1px solid #c5bfbf;
    height: auto;
    width: 100px !important;
}
.schedules .swiper-wrapper {
    margin-top: 10px;
    padding: 0 !important;
    width: 88%;
}
.event-details {
    padding: 2px 10px 2px !important;
    font-size: x-small;
    position: relative;
    min-height: 61px;
}
.schedules .time {
    display: block;
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
}
.event.swiper-button-prev, .event.swiper-button-next{
    z-index: 12;
    top: 35%;
    position: absolute;
    background-color: #ededed;
    min-height: 82px;
    padding: 8px 40px;
    color: #252525;
    /*background-image: none;*/
}

.event.swiper-button-prev {
    left: 0;
}
.event.swiper-button-next {
    right: 0;
}
.mainslide .swiper-wrapper {
    margin-top:50px !important;
}
.empty {
  height: 600px;
  min-height: 100%;
}

@media only screen and (max-width: 767px) {
  .header-fixed .app-body {
    margin-top: 100px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .schedules .swiper-wrapper {
        width: 80%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1279px){
    .schedules .swiper-wrapper {
        width: 80%;
    }
}
