<router-outlet></router-outlet>

<app-tweets></app-tweets>
<app-touringcar-heats ></app-touringcar-heats>
<!--<app-tweets></app-tweets>-->
<app-touringcar-positions></app-touringcar-positions>
<app-news-list></app-news-list>
<app-touringcar-championships></app-touringcar-championships>
<app-touringcar-intermediate></app-touringcar-intermediate>
