<app-schedule></app-schedule>
<app-sup16-heats></app-sup16-heats>
<app-news-list></app-news-list>
<app-sup16-positions></app-sup16-positions>
<app-tweets></app-tweets>
<app-sup16-championships></app-sup16-championships>
