<div class="row no-gutters">
	<a href="" class="list-group-item">
		<div class="pull-left">
			<h2></h2>			
		</div>
		<div class="pull-left">
			<h6>{{driver.name}}</h6>
			<span class="small-img"><img class="img-responsive" src="{{driver.teamImg}}"></span> 
			<span class="small-img"><img class="img-responsive" src="{{driver.countryFlag}}"></span> 
		</div>

		<div class="pull-right">
			<img class="img-responsive" src="{{driver.carImg}}">
		</div>	
	</a>
</div>