<div class="row twitter">

  <!--<div class="col-2" *ngFor="let tweet of tweets;let first = first">-->
    <!--<a class="tweeturl" href="{{ tweet.link }}" target="_blank">-->
      <!--<span class="time">{{ tweet.message }}</span>-->
    <!--</a>-->
  <!--</div>-->




<div class="tweets col-12 col-md-3" *ngFor="let tweet of tweets">
  <div class="panel">
    <a class="cover" href="{{ tweet.link }}" target="_blank">
				<span class="wrapper">
				  <span class="wrapper-hold">
					<span class="icon">
						<img src="http://www.fiaworldrallycross.com/_img/icon_twitter.png">
          </span>
					<!--<span class="image">-->
			            <!--<img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ newsitem.image }}&maxwidth=450" onError="this.src='assets/images/cars_big/car_missing.png'" class="img-fluid main-image" />-->
					<!--</span>-->
					<span class="texthold no-image">{{tweet.message}}</span>
				  </span>
				</span>
    </a>
  </div>
</div>


</div>
