<!--&lt;!&ndash;<carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlide)]="index">&ndash;&gt;-->
  <!--&lt;!&ndash;<slide *ngFor="let slide of schedules; let index=index" [ngClass]="{'bordered': index == i }"  class="col-2">&ndash;&gt;-->
    <!--&lt;!&ndash;<div>&ndash;&gt;-->
      <!--&lt;!&ndash;<span>{{ slide.text }}</span>&ndash;&gt;-->
      <!--&lt;!&ndash;<span class="time">{{ slide.theTime | slice:0:5 }}</span>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</slide>&ndash;&gt;-->
<!--&lt;!&ndash;</carousel>&ndash;&gt;-->

<!--<div class="swiper-container mainslide" [swiper]="config" [(index)]="index" #directiveRef>-->
  <!--<div class="swiper-wrapper">-->
    <!--<div *ngFor="let schedule of schedules" class="swiper-slide">-->
      <!--{{ schedule.text }}-->
    <!--</div>-->
  <!--</div>-->

  <!--<div [hidden]="config.scrollbar != '.swiper-scrollbar'" class="swiper-scrollbar"></div>-->

  <!--<div [hidden]="config.pagination != '.swiper-pagination'" class="swiper-pagination"></div>-->

  <!--<div [hidden]="config.prevButton != '.swiper-button-prev'" class="swiper-button-prev"></div>-->
  <!--<div [hidden]="config.nextButton != '.swiper-button-next'" class="swiper-button-next"></div>-->
<!--</div>-->

<!--&lt;!&ndash;<swiper [config]="config" class="mainslide">&ndash;&gt;-->
  <!--&lt;!&ndash;<div *ngFor="let schedule of schedules" class="swiper-slide">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="swiper-slide-content">{{ schedule.text }}</div>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;</swiper>&ndash;&gt;-->