<div class="row inter">


<!--<div class="hidden-md-up venue">-->
    <!--<span class="venue-flag" *ngFor="let cve of currentEvent">-->
        <!--<img src="http://www.fiaworldrallycross.com/_img/_flags/{{ cve.shortname }}.png">-->
        <!--<span class="venue-title">RD: {{ cve.round }} {{ cve.country }} {{ cve.location }}</span>-->
    <!--</span>-->

<!--</div>-->

<!--<swiper [config]="config" class="row schedules"#myslider>-->
    <!--<div class="swiper-wrapper">-->
        <!--<div class="swiper-slide" *ngFor="let schedule of schedules">-->
            <!--<span [class]="schedules[selectedIndex] == item ? 'active': ''">-->

            <!--<span>{{ schedule.text }} </span>-->
            <!--<span class="date">Day {{ schedule.day }} @ <span class="time">{{ schedule.eventStart }}</span></span>-->
            <!--<h6 *ngIf="asiko < schedule.eventStart && asiko > schedule.theTime">{{ schedule.theTime }}</h6>-->
            <!--</span>-->
        <!--</div>-->
    <!--</div>-->
<!--</swiper>-->



    <div class="champs table-responsive">
        <h3><span class="lightHeader">Schedule of Events </span></h3>
        <div class="sm-down-cover">
            <table class="table">
                <thead>
                <tr>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Event</th>
                </tr>
                </thead>
                <tbody  class="champs-table">
                <tr *ngFor="let schedule of schedules">
                    <th scope="row">Day {{ schedule.id }}</th>
                    <td>
                        <span class="drivername">{{ schedule.theTime }}</span>
                    </td>
                    <td>{{ schedule.text }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>



</div>
