<!--<div class="next-event" *ngFor="let schedule of schedules;let first = first">-->
    <!--<span><span *ngIf="first" class="first">Next Event</span>{{ schedule.text }} <span class="time">{{ schedule.time }}</span></span>-->

<!--<div class="next-event" *ngFor="let schedule of schedules | slice:0:1">-->
    <!--<span><span class="first">Next Event</span>{{ schedule.text }} <span class="time">{{ schedule.time }}</span><span class="date">Sat 26 August 2017</span></span>-->
<!--</div>-->

<!--https://stackoverflow.com/questions/42985547/how-to-update-the-index-of-the-slide-dynamically-in-swiper-api-free-mode-when-a?rq=1-->
<!--https://blog.angularindepth.com/exploring-angular-dom-abstractions-80b3ebcfc02-->
<!--https://embed.plnkr.co/8kmQcSDlDhCSKbACbWSx/-->
<!--<p #ptag>{{getCount()}}</p>-->
<!--<audio controls #player [attr.src]="src">-->
    <!--<source [src]="index" type="audio/mpeg">-->
<!--</audio>-->
<!--<div class="hidden-md-up venue">-->
    <!--<span class="venue-flag" *ngFor="let cve of currentEvent">-->
        <!--<img src="http://www.fiaworldrallycross.com/_img/_flags/{{ cve.shortname }}.png">-->
        <!--<span class="venue-title">RD: {{ cve.round }} {{ cve.country }} {{ cve.location }}</span>-->
    <!--</span>-->
<!--</div>-->

<!--<swiper [config]="config" class="row schedules" #usefulSwiper>-->
    <!--<div class="event swiper-button-next"></div>-->
    <!--<div class="event swiper-button-prev"></div>-->
    <!--&lt;!&ndash;<h2>{{ now |  date:'jm'  }}</h2>&ndash;&gt;-->
    <!--&lt;!&ndash;<now></now>&ndash;&gt;-->
    <!--<div class="swiper-wrapper">-->
        <!--&lt;!&ndash;<div class="swiper-slide" *ngFor="let schedule of schedules | slice:1">&ndash;&gt;-->
        <!--<div class="swiper-slide" *ngFor="let schedule of schedules; let i = index" [ngClass]="{'bordered': index == i }">-->
            <!--&lt;!&ndash;<span *ngIf="(now |  date:'jm') > schedule.theTime">{{ schedule.text }} <span class="time">{{ schedule.eventStart }}</span></span>&ndash;&gt;-->
            <!--&lt;!&ndash;<span [class]="schedules[indexNew] == item ? 'active': ''">&ndash;&gt;-->
            <!--<div class="event-details">-->

            <!--<span>{{ schedule.text }}</span>-->
            <!--<span class="time">{{ schedule.theTime | slice:0:5 }}</span>-->

            <!--&lt;!&ndash; <span class="date">Day {{ schedule.day }}  <span class="time">{{ schedule.theTime | limitTo:5 }}</span></span> &ndash;&gt;-->
            <!--&lt;!&ndash;<h6 *ngIf="asiko < schedule.eventStart && asiko > schedule.theTime">{{ schedule.theTime }}</h6>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</swiper>-->
