      <div class="inner-outlet">
        <router-outlet></router-outlet>
      </div>
<div class="news container">


  <h3><span class="lightHeader">News</span></h3>
  <!--<h1 class="newstitle">News</h1>-->
  <div class="row news-list">
		<!--<app-news-list></app-news-list>-->

    <div class="news col-lg-4 col-md-6 col-xs-6" *ngFor="let newsitem of news">
      <div class="panelnews">
        <a class="cover" (click)="showNewsItemDetail(newsitem)">
            <span class="wrapper">
              <span class="wrapper-hold">
                <span class="icon">
                <img *ngIf="newsitem.type == 'news'" src="http://www.fiaworldrallycross.com/_img/icon_news.png">
                <img *ngIf="newsitem.type == 'youtube'" src="http://www.fiaworldrallycross.com/_img/icon_video.png">
                </span>
                <span class="image">
                  <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ newsitem.image }}&maxwidth=450" onError="this.src='assets/images/cars_big/car_missing.png'" class="main-image" />
                </span>
                <span class="texthold ">{{newsitem.title}}</span>
              </span>
            </span>
        </a>
      </div>
    </div>

  </div>

</div>

