<router-outlet></router-outlet>

<app-tweets></app-tweets>
<app-sup16-heats ></app-sup16-heats>
<app-tweets></app-tweets>
<app-sup16-positions></app-sup16-positions>
<app-news-list></app-news-list>
<app-sup16-championships></app-sup16-championships>
<app-sup16-intermediate></app-sup16-intermediate>
