<div class="row inter hidden-md-up">
    <div class="intermediate">
    <h3><span class="lightHeader">Intermediate Points</span></h3>

    <table class="table">
      <thead>
        <tr>
          <th class="" >POS</th>
          <th class="" ></th>
          <th class="">Q1</th>
          <th class="">Q2</th>
          <th class="">Q3</th>
          <th class="">Q4</th>
          <th class="">QP</th>
          <th class="">IP</th>

        </tr>
      </thead>
      <tbody  class="intermediate-table">
        <tr *ngFor="let data of items | slice:0:showMobile; let i = index" [@animate]="'fadeInDown'">
          <th class="" scope="row">
            {{ i + 1 }}
          </th>
          <td class="col-6 negative-left">
            <span class="team"><img src="assets/images/manufacturers/{{ data.badge }}" onError="this.src='assets/images/manufacturers/ford.png'" /></span>
            <span class="flag"><img src="assets/images/flags/{{ data.country }}.png" /></span>
            <span class="drivername">{{  data.driver_name | explode:" ":0 | limitTo:1  }}{{  data.driver_name | explode:" ":1 }}</span>
          </td>
          <td class="col-1">{{ data.q1 }}</td>
          <td class="col-1">{{ data.q2 }}</td>
          <td class="col-1">{{ data.q3 }}</td>
          <td class="col-1">{{ data.q4 }}</td>
          <td class="col-1">{{ data.points }}</td>
          <td class="col-1">{{ data.inter_points }}</td>
            <div *ngIf="i == 4 && showMobile==5" #loadMore></div>
        </tr>
      </tbody>
    </table>
    <span *ngIf="hideMobile" class="moreButton"  (click)="showMoreMobile()"><img src="assets/img/down-arrow.png" class="faa-bounce animated" /></span>
    </div>
</div>


<div class="row inter hidden-sm-down">
    <div class="intermediate table-responsive">
    <h3><span class="lightHeader">Intermediate Points</span></h3>
    <div class="sm-down-cover">

    <table class="table">
      <thead>
        <tr>
          <th class="" >POS</th>
          <th class=""></th>
          <th class="text-center">Q1</th>
          <th class="text-center">Q2</th>
          <th class="text-center">Q3</th>
          <th class="text-center">Q4</th>
          <th class="text-center">QP</th>
          <th class="text-center">IP</th>

        </tr>
      </thead>
      <tbody  class="intermediate-table">
        <tr *ngFor="let data of items | slice:0:show; let i = index" [@animate]="'fadeInDown'">
          <th class="" scope="row">{{ i + 1 }}</th>
          <td class="col-6">
            <span class="small-car hidden-md-down hidden-sm-down hidden-xs-down">
                <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ data.car_img }}&maxwidth=100"  onError="this.src='assets/images/cars/car_missing_small.png'" class="img-fluid" />
            </span>
            <span class="team"><img src="assets/images/manufacturers/{{ data.badge }}"  onError="this.src='assets/images/manufacturers/ford.png'" /></span>
            <span class="flag"><img src="assets/images/flags/{{ data.country }}.png" /></span>
            <span>{{  data.driver_name }}</span>
          </td>
          <td class="col-1 text-center">{{ data.q1 }}</td>
          <td class="col-1 text-center">{{ data.q2 }}</td>
          <td class="col-1 text-center">{{ data.q3 }}</td>
          <td class="col-1 text-center">{{ data.q4 }}</td>
          <td class="col-1 text-center">{{ data.points }}</td>
          <td class="col-1 text-center">{{ data.inter_points }}</td>
            <div *ngIf="i == 9 && show==10"   #loadMore></div>
        </tr>
      </tbody>
    </table>
    </div>
    <span *ngIf="hide" class="moreButton"  (click)="showMore()"><img src="assets/img/down-arrow.png" class="faa-bounce animated" /></span>
    </div>
</div>
