<div class="row championship">
  <div class="champs table-responsive">
    <h3><span class="lightHeader">Championship points </span></h3>
    <div class="sm-down-cover">
      <table class="table">
        <thead>
        <tr>
          <th>POS</th>
          <th></th>
          <th class="text-center">PTS</th>
        </tr>
        </thead>
        <tbody  class="champs-table">
        <tr *ngFor="let data of items; let i = index" [@animate]="'fadeInDown'">
          <th scope="row">{{ i + 1 }}</th>
          <td class="nopadding">
            <span class="small-car"><img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ data.car_img }}&maxwidth=100" onError="this.src='assets/images/cars/car_missing_small.png'" /></span>
            <!--<span class="team hidden-sm-down"><img src="assets/images/manufacturers/{{ data.badge }}"  onError="this.src='assets/images/manufacturers/ford.png'" /></span>-->
            <span class="flag"><img src="assets/images/flags/{{ data.country }}.png" /></span>
            <span class="drivername">{{  data.driver_name }}</span>
          </td>
          <td class="text-center" style="vertical-align: top;">{{ data.Champ_Point }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

