<div class="row inter hidden-md-up" *ngIf="items.length > 0">
  <div class="row championship entrants"  *ngFor="let item of items | pairs">

  <div class="champs table-responsive">
    <div class="container heatheaders">
      <h3><span class="lightHeader">{{ item[0] }}</span> : Entrants</h3>
    </div>
    <div class="sm-down-cover">
      <table class="table">
        <thead>
        <tr>
          <th>POS</th>
          <th></th>
        </tr>
        </thead>
        <tbody  class="champs-table">
        <tr *ngFor="let data of item[1]" [@animate]="'fadeInDown'">
          <th scope="row">{{ data.position }}</th>
          <td class="nopadding">
            <span class="small-car"><img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ data.car_img }}&maxwidth=100" onError="this.src='assets/images/cars/car_missing_small.png'" /></span>
            <span class="team hidden-sm-down"><img src="http://www.fiaworldrallycross.com/_img/_manufacturers/{{ data.badge }}"  onError="this.src='assets/images/manufacturers/ford.png'" /></span>
            <span class="flag"><img src="assets/images/flags/{{ data.flag }}.png" /></span>
            <span class="drivername">{{  data.name }}</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
</div>

<div class="row inter"*ngIf="items.length <= 0">
  <div class="intermediate table-responsive" [ngClass]="'empty'" >Awaiting Content</div>
</div>
