<div class="container">
	<div class="col-12">

	</div>
	<ul class=""list-group>
			<li *ngFor="let driver of drivers">{{driver.forename}} {{driver.surname}}</li>
			<!--<rx-driver-item *ngFor="let driver of drivers" [driver]="driver"></rx-driver-item>-->
		</ul>
</div>