<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" routerLink="/"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
    </li>
    <li class="nav-item px-3">
    </li>
  </ul>
  <ul class="nav navbar-nav grey ml-auto rxhome">
     <li class="nav-item hidden-sm-down">
      <a class="nav-lin" routerLink="/">LIVE EVENTS</a>
    </li>
    <li class="nav-item">
      <a class="nav-lin hidden-md-up"  href="{{rx2home}}" target="_blank">RX</a>
      <a class="nav-link hidden-sm-down" href="{{rx2home}}" target="_blank">RX HOME</a>
    </li>

  </ul>

   <!--<select [(ngModel)]="selectedDropdown.catid" (input)="onInput($event)">-->
  <!--<option *ngFor="let dropdown of dropdowns" value= {{dropdown.catid}}>{{dropdown.title}}</option>-->
<!--</select>-->

  <ul class="nav navbar-nav ml-auto special">
    <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">

      <!--<a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">-->
        <!--<span class="d-md-down-none show hidden-md-up">SC</span>-->
        <!--<span class="d-md-down-none hidden-md-down">Supercar</span>-->
      <!--</a>-->

      <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
        <span [(ngModel)]="selectedDropdown.title" ngDefaultControl class="hidden-md-up kekere">{{selectedDropdown.shortname}}</span>
        <span [(ngModel)]="selectedDropdown.title" ngDefaultControl class="hidden-sm-down nla">{{selectedDropdown.title}}</span>
      </a>

      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">

        <a *ngFor="let dropdown of dropdowns" class="dropdown-item" [routerLink]="['/',parentRoute,dropdown.url]"  (click)="selectedDropdown = dropdown; open = false;">{{ dropdown.title }}</a>
        <!-- <div class="dropdown-header text-center"><strong>Account</strong></div> -->

        <!--<a  *ngFor="let dropdown of dropdowns" class="dropdown-item" [routerLink]="dropdown.myroutes">{{ dropdown.name }}</a>-->
         <!--<a class="dropdown-item" href="#"  [routerLink]="['/super1600']">Super1600</a>-->
        <!--<a class="dropdown-item" href="#" [routerLink]="['/touringcar']">Touringcar</a>-->
        <!--<a class="dropdown-item" href="#" [routerLink]="['/rx2']">RX2</a>-->
        <!--<a class="dropdown-item" href="#" [routerLink]="['/supercar_erx']">Supercar ERX</a>-->
<!--         <a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Races</a>
        <a class="dropdown-item" href="#"><i class="fa fa-file"></i> VidiPrinter</a> -->
      </div>
    </li>
      <span class="hidden-sm-down sidebar-flag" *ngFor="let cve of currentEvent"><img src="http://www.fiaworldrallycross.com/_img/_flags/{{ cve.shortname }}.png"></span>
  </ul>
</header>
<div class="hidden-md-up venue-container ">
  <div class="venue">
    <span class="venue-flag" *ngFor="let cve of currentEvent">
        <img src="http://www.fiaworldrallycross.com/_img/_flags/{{ cve.shortname }}.png">
        <span class="venue-title">RD: {{ cve.round }} {{ cve.country }} {{ cve.location }}</span>
    </span>
  </div>
</div>
<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav">
      <ul class="nav">

        <li class="nav-item" *ngFor="let cve of currentEvent" style="font-size: x-large; ">
          <span class="venue-title">RD: {{ cve.round }} {{ cve.country }} {{ cve.location }}</span>
        </li>
        <li class="divider"></li>

        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/{{parentRoute}}/{{selectedDropdown.url}}" [routerLinkActiveOptions]="{ exact: true }">{{ currentParentRoute}} Home</a>
        </li>
        <li class="nav-item" *ngFor="let sdv of sidenavs">
          <a class="nav-link" routerLinkActive="active" routerLink="/{{parentRoute}}/{{selectedDropdown.url}}/{{sdv.url}}" [routerLinkActiveOptions]="{ exact: true }">{{ sdv.title}}</a>
          <!--<a class="nav-link" routerLinkActive="active" routerLink="/{{activeRoute}}/{{selectedDropdown.url}}/{{sdv.url}}" [routerLinkActiveOptions]="{ exact: true }">{{ sdv.title}}</a>-->
        </li>

        <!---->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions]="{ exact: true }">HOME</a>-->
        <!--</li>-->



         <!--<li class="nav-item">-->
          <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/touringcar']" [routerLinkActiveOptions]="{ exact: true }">SCHEDULE OF EVENTS</a>-->
        <!--</li>-->

        <!--<li class="nav-item">-->
          <!--<a class="nav-link" routerLinkActive="active"  [routerLink]="['/entrants',selectedDropdown.url]">ENTRANTS</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/super1600']">LIVE TIMINGS</a>-->
        <!--</li>-->
        <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
          <!--&lt;!&ndash;<a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">HEATS</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->

        <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
          <!--&lt;!&ndash;<a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">RACES</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/']">VIDIPRINTER</a>-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" routerLinkActive="active"  [routerLink]="['../intermediate_points',selectedDropdown.url]">INTERMEDIATE POINTS</a>-->
        <!--</li>-->

        <!--<li class="nav-item">-->
          <!--<a class="nav-link" routerLinkActive="active" [routerLink]="['/championship_points',selectedDropdown.url]">CHAMPIONSHIP POINTS</a>-->
          <!--&lt;!&ndash;<a class="nav-link" routerLinkActive="active" [routerLink]="[selectedDropdown.url]">CHAMPIONSHIP POINTS</a>&ndash;&gt;-->
        <!--</li>-->
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" routerLinkActive="active"  [routerLink]="['/race_documents',selectedDropdown.url]">RACE DOCUMENTS</a>-->
        <!--</li>-->
        <li class="divider"></li>
      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">
    <div class="container-fluid">
      <!--<app-schedule></app-schedule>-->
      <!--<app-events></app-events>-->
      <router-outlet></router-outlet>
      <!--<app-tweets></app-tweets>-->
      <!--<app-erx-championships></app-erx-championships>-->
    </div>
  </main>
</div>

<footer class="app-footer">
  <a href="http://www.fiaworldrallycross.com">RallycrosssHub</a> &copy; 2017 RallyCrossRX.
  <span class="float-right">Powered by <a href="http://fluidcm.co.uk" target="_blank">Fluid</a></span>
</footer>
