<swiper [config]="config" class="hidden-sm-down swiper-desktop">
  <div class="swiper-wrapper">

<div class="swiper-slide"  *ngFor="let item of items">
  <div class="container heatheaders">
    <h3><span class="lightHeader">Qualifying {{ item.heat.replace('H','') }} : </span>Race {{ item.race }}</h3>
  </div><!-- heatheaders end-->
  <div class="container heats extrapad">
    <div class="row col-6 col-xl-4 col-lg-6 col-md-6 col-sm-6" *ngFor="let v of item.entrants | orderBy: 'totaltime'; let i = index">
    <div class="col-12">
      <div class="carposition">
          <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ v.car }}&maxwidth=225" onError="this.src='assets/images/cars/car_missing_big.png'" class="img-fluid" />
          <div class="titles">
            <h1>{{ i + 1 }}</h1>
            <span class="totaltime">
              <!--{{ v.totaltime | slice:0:2}}:{{ v.totaltime | slice:2:4}}:{{ v.totaltime | slice:4:6}}-->
							{{ v.totaltime }}
            </span>
          </div>
      </div><!-- carposition end-->

      <div class="bottomData">
        <span class="heats-team"><img src="assets/images/manufacturers/{{ v.badge }}" class="" /></span>
        <span class="heats-flag"><img src="assets/images/flags/{{ v.country }}.png" class="" /></span>
        <span class="heats-driversname">{{  v.driver | explode:" ":0 | limitTo:1  }} {{  v.driver | explode:" ":1 }}</span>
      </div><!-- bottomData end-->
      </div>

    </div><!-- row no-gutters end-->
  </div><!-- heats end-->
</div><!-- extrapad end-->



  </div>

  <div class="heatc swiper-button-next"></div>
  <div class="heatc swiper-button-prev"></div>
</swiper>


<swiper [config]="config" class="hidden-md-up swiper-mobile">
  <div class="heatc swiper-button-next"></div>
  <div class="heatc swiper-button-prev"></div>
  <div class="swiper-wrapper">

  <div class="swiper-slide heats"  *ngFor="let item of items">
    <h3><span class="lightHeader">Q {{ item.heat.replace('H','') }} : </span>Race {{ item.race }}</h3>
    <div class="row" *ngFor="let data of item.entrants; let i = index">

        <div class="bottomDesign">
          <div class="col-1 stripped">
            {{ i + 1 }}
          </div>
          <div class="col-5 details">
            <div class="driversname">{{  data.driver | explode:" ":0 | limitTo:1  }} {{  data.driver | explode:" ":1 }}</div>
            <div class="combo">
              <span class="team"><img src="assets/images/manufacturers/{{ data.badge }}" class="" /></span>
              <span class="flag"><img src="assets/images/flags/{{ data.country }}.png" class="" /></span>
              <span class="timetotal">{{ data.totaltime }}</span>

            </div>
          </div>

          <div class="col-6 car_pic">
            <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ data.car }}&maxwidth=158" onError="this.src='assets/images/cars/car_missing_small.png'" class="img-fluid" />
          </div>
        </div>
    </div>
  </div>

  <div class="swiper-slide heats"  *ngFor="let item of heat2">
    <h3><span class="lightHeader">Q {{ item.heat.replace('H','') }} : </span>Race {{ item.race }}</h3>
    <div class="row" *ngFor="let data of item.entrants; let i = index">

        <div class="bottomDesign">
          <div class="col-1 stripped">
            {{ i + 1 }}
          </div>
          <div class="col-5 details">
            <div class="driversname">{{  data.driver | explode:" ":0 | limitTo:1  }} {{  data.driver | explode:" ":1 }}</div>
            <div class="combo">
              <span class="team"><img src="assets/images/manufacturers/{{ data.badge }}" class="" /></span>
              <span class="flag"><img src="assets/images/flags/{{ data.country }}.png" class="" /></span>
              <span class="timetotal">{{ data.totaltime }}</span>

            </div>
          </div>

          <div class="col-6 car_pic">
            <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ data.car }}&maxwidth=158" onError="this.src='assets/images/cars/car_missing_small.png'" class="img-fluid" />
          </div>
        </div>
    </div>
  </div>

  </div><!--swiper-wrapper-end -->
</swiper>
