<div  *ngIf="newsItem">
<div class="news container" *ngFor="let new of newsItem">

  <div class="newsitem video embed-responsive embed-responsive-16by9" *ngIf="new.type == 'youtube'">
    <iframe width="embed-responsive-item" [src]="baseUrl+new.videourl | youtube" allowfullscreen></iframe>
    <!--<iframe width="embed-responsive-item" [src]="sanitizer.bypassSecurityTrustResourceUrl(baseUrl+new.videourl)"></iframe>-->
  </div>

  <div class="newsitem image " *ngIf="new.type == 'news'">
    <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ new.image }}&maxwidth=900" class="main-image" />
  </div>
  <div class="newsitem content"><h1 class="newstitle">{{ new.title}}</h1></div>
  <div class="newsitem content" [innerHtml]="new.content | safeHtml"></div>

  <div class="newsitem content"><a [routerLink]="['../']" class="btn btn-primary"><i class="fa fa-angle-left mr-3" aria-hidden="true"></i>Back to news</a></div>
</div>
</div>
