<div class="row positions hidden-sm-down">
  <div class="positionsmain  table-responsive">
    <h3><span class="lightHeader">Qualifying Times</span></h3>
  <div class="sm-down-cover">

    <table class="table">
      <thead>
        <tr>
          <th>Pos</th>
          <th class=""></th>
          <th class="text-center">Time</th>
          <th class="text-center">Race</th>
          <th class="text-center">PTS</th>
        </tr>
      </thead>
      <tbody  class="position-table">
        <tr *ngFor="let data of items | slice:0:show; let i = index" [@animate]="'fadeInDown'">
          <th scope="row">
              {{ data.Position }}
          </th>
          <td class="col-9">

            <span class="small-car">
            <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ data.car }}&maxwidth=100" onError="this.src='assets/images/cars/car_missing_small.png'" class="img-fluid" />
            </span>
            <span class="team"><img src="assets/images/manufacturers/{{ data.badge }}"  onError="this.src='assets/images/manufacturers/ford.png'" /></span>
            <span class="flag"><img src="assets/images/flags/{{ data.country }}.png" /></span>
            <span>{{  data.driver_name }}</span>
          </td>
          <td class="col-1 text-center">{{ data.newTime }}</td>
          <td class="col-1 text-center">{{ data.Race_Number }}</td>
          <td class="col-1 text-center">{{ data.Points }}</td>
        <div *ngIf="i == 9 && show==10" #loadMore></div>
        </tr>
      </tbody>
    </table>

  </div>
  <span *ngIf="hide" class="moreButton"  (click)="showMore()"><img src="assets/img/down-arrow.png" class="faa-bounce animated" /></span>  
  </div>
</div>
    

<div class="row positions hidden-md-up">
  <div class="positionsmain">
  <h3><span class="lightHeader">Qualifying Times</span></h3>

    <table class="table">
      <thead>
        <tr>
          <th class="" >Pos</th>
          <th class="" ></th>
          <th class="">Time</th>
          <th class="">Race</th>
          <th class="">PTS</th>
        </tr>
      </thead>
      <tbody  class="position-table">
        <tr *ngFor="let data of items | slice:0:showMobile; let i = index" [@animate]="'fadeInDown'">
          <th scope="row">
            {{ data.Position }}
          </th>
          <td  class="col-9 negative-left" >
            <span class="positions-car hidden-md-down hidden-sm-down hidden-xs-down">
            <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ data.car }}&maxwidth=63" onError="this.src='assets/images/cars/car_missing_small.png'" class="img-fluid" />
            </span>
            <span class="team"><img src="assets/images/manufacturers/{{ data.badge }}"  onError="this.src='assets/images/manufacturers/ford.png'" /></span>
            <span class="flag"><img src="assets/images/flags/{{ data.country }}.png" /></span>
            <span class="drivername">{{  data.driver_name | explode:" ":0 | limitTo:1  }}{{  data.driver_name | explode:" ":1 }}</span>
            </td>
          <td class="col-1 text-center">{{ data.newTime }}</td>
          <td class="col-1 text-center">{{ data.Race_Number }}</td>
          <td class="col-1 text-center">{{ data.Points }}</td>
        <div *ngIf="i == 4 && showMobile==5"   #loadMore></div>
        </tr>
      </tbody>
    </table>

  <span *ngIf="hide" class="moreButton"  (click)="showMoreMobile()"><img src="assets/img/down-arrow.png" class="faa-bounce animated" /></span>  
  </div>
</div>  