
<div class="row slider responsive hidden-sm-up">

  <div class="heats">
    <h3><span class="lightHeader">Heat 1: </span>Race 1</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
          <div class="col-2 stripped">
            {{ data.Position }}
          </div>
          <div class="col-4 details">
            <div class="driversname">{{  data.Entrant_Name }}</div>
            <div class="combo">
              <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
              <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
              <span class="timetotal">{{ data.Time_Total }}</span>

            </div>
          </div>

          <div class="col-6">
            <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
          </div>          
        </div>
    </div>
  </div>

  <div class="heats">
    <h3><span class="lightHeader">Heat 1: </span>Race 2</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>

  <div class="heats">
    <h3><span class="lightHeader">Heat 1: </span>Race 3</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>

  <div class="heats">
    <h3><span class="lightHeader">Heat 1: </span>Race 4</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>

  <div class="heats">
    <h3><span class="lightHeader">Heat 2: </span>Race 1</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>

  <div class="heats">
    <h3><span class="lightHeader">Heat 2: </span>Race 2</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>

  <div class="heats">
    <h3><span class="lightHeader">Heat 2: </span>Race 3</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>

  <div class="heats">
    <h3><span class="lightHeader">Heat 2: </span>Race 4</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>

  <div class="heats">
    <h3><span class="lightHeader">Heat 2: </span>Race 5</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>

  <div class="heats">
    <h3><span class="lightHeader">Heat 3: </span>Race 1</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>
  <div class="heats">
    <h3><span class="lightHeader">Heat 3: </span>Race 2</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>
  <div class="heats">
    <h3><span class="lightHeader">Heat 3: </span>Race 3</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>
  <div class="heats">
    <h3><span class="lightHeader">Heat 3: </span>Race 4</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>
  <div class="heats">
    <h3><span class="lightHeader">Heat 3: </span>Race 5</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>

  
  <div class="heats">
    <h3><span class="lightHeader">Heat 4: </span>Race 1</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>  
  <div class="heats">
    <h3><span class="lightHeader">Heat 4: </span>Race 2</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>  
  <div class="heats">
    <h3><span class="lightHeader">Heat 4: </span>Race 3</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>  
  <div class="heats">
    <h3><span class="lightHeader">Heat 4: </span>Race 4</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>  
  <div class="heats">
    <h3><span class="lightHeader">Heat 4: </span>Race 5</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
      <div class="col-2 stripped">
        {{ data.Position }}
      </div>
      <div class="col-4 details">
        <div class="driversname">{{  data.Entrant_Name }}</div>
        <div class="combo">
          <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
          <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
          <span class="timetotal">{{ data.Time_Total }}</span>

        </div>
      </div>

      <div class="col-6">
        <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
      </div>
            
        </div>
    </div>
  </div>


</div>