<!-- 
<div class="row slider responsive hidden-md-up">

  <div class="heats">
    <h3><span class="lightHeader">Heat 1: </span>Race 1</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

        <div class="bottomDesign">
          <div class="col-2 stripped">
            {{ data.Position }}
          </div>
          <div class="col-4 details">
            <div class="driversname">{{  data.Entrant_Name }}</div>
            <div class="combo">
              <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
              <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
              <span class="timetotal">{{ data.Time_Total }}</span>

            </div>
          </div>

          <div class="col-6">
            <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
          </div>          
        </div>
    </div>
  </div>


</div> -->



<div class="row slider responsive hidden-sm-down carousel">


  <div class="heats" *ngFor="let item of keys | async">
    <h3><span class="lightHeader">Heat {{ item.heat | limitTo:1 }} : </span>Race {{ item.race }}</h3>
    <div class="row no-gutters" *ngFor="let v of item.entrants; let i = index">

          <div class="skewedbg"></div>
          <div class="carposition">
            <img src="http://www.fiaworldrallycross.com/_mediaimages/imagesource.php?image={{ v.car }}&maxwidth=225" onError="this.src='assets/images/cars_big/car_missing.png'" class="img-fluid" />
              <div class="titles">
                <h1>{{ i + 1 }}</h1>
                <span class="totaltime">
                  {{ v.totaltime }}
                </span>
              </div>                           
          </div>
          

          <div class="bottomData">

              <span class="team"><img src="assets/images/manufacturers/{{ v.badge }}" class="" /></span>
              <span class="flag"><img src="assets/images/flags/{{ v.country }}.png" class="" /></span>
                          <span class="driversname">{{  v.driver }}</span>
          </div>
       
    </div>
  <!-- </div> -->
<!--   <div class="heats">
    <h3><span class="lightHeader">Heat 1 : </span>Race 2</h3>
    <div class="row no-gutters" *ngFor="let data of data | async">

          <div class="skewedbg"></div>
          <div class="carposition">
            <div class="col-9">
            <img src="assets/images/cars/{{ data.Car_Type }}.png" class="img-fluid" />
            </div>
            <div class="col-3">
              <h1>{{ data.Position }}</h1>
              {{ data.Time_Total }}
            </div>                          
          </div>
          

          <div class="bottomData">

              <span class="team"><img src="assets/images/teams/{{ data.Team_Icon }}.png" class="" /></span>
              <span class="flag"><img src="assets/images/flags/{{ data.Entrant_Nationality_Short }}.png" class="" /></span>
                          <span class="driversname">{{  data.Entrant_Name }}</span>
          </div>
       
    </div>
  </div>
   -->
  
</div>