<div class="row no-gutters" *ngFor="let data of data | async">

  <div class="col-2 stripped">
    {{ data.name }}
  </div>
  <div class="col-6 details">
    <div>{{  data.short_name }}</div>
    <div>{{  data.tags }}</div>
  </div>

  <div class="col-4">
    <img src="assets/images/cars/{{ data.car_img }}" class="img-fluid" />
  </div>

</div>
