<app-schedule></app-schedule>
<app-touringcar-heats></app-touringcar-heats>
<app-news-list></app-news-list>
<app-touringcar-positions *ngIf="app-touringcar-positions"></app-touringcar-positions>
<app-tweets></app-tweets>
<app-touringcar-intermediate *ngIf="app-touringcar-intermediate"></app-touringcar-intermediate>
<app-touringcar-championships></app-touringcar-championships>



